<!DOCTYPE HTML>
<html>
  <head>
    <title>Loading... - The Augmented Eye</title>
  </head>

  <body>
    <img src="/static/augmented.png" alt="Augmented" />
    <% con.query("SELECT * FROM posts WHERE post_id=" + con.escape(id)).each do |res| %>
      <script>
        document.title =  "<%= Sanitize.clean(res["title"]) %> - The Augmented Eye";
      </script>
      <div id="title"><%= Sanitize.clean(res["title"]) %></div><br>
      <div id="author">By <%= Sanitize.clean(res["author"]) %></div><br>
      <pre id="content"><%= Sanitize.clean(res["content"]) %></pre>
    <% end %>
    <% con.query("SELECT * FROM posts WHERE parent=" + id).each do |res| %>
      <div id="author">By <%= Sanitize.clean(res["author"]) %></div><br>
      <pre id="content"><%= Sanitize.clean(res["content"]) %></pre>
    <% end %>
    <form action="/comment" method="POST">
      <input type="input" name="author" value="" style="float: left;"> <span id="author">Name</span><br><br><span id="author">Comment</span>
			<textarea rows="5" cols="50" style="display: block; margin-right: 10px; width: 285px; height:100px;" name="body"></textarea>
			<input type="submit" name="submit" value="Send" style="float: right;"><br>
      <input type='text' style='display: none' name='parent' id='parent' value='<%= id %>' />
    </form>
  </body>
</html>
