<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Searching by tag #<%= tag %> - The Augmented Eye</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>
  <body>
    <div id="bodycontainer">
      <a href="/"><img src="/static/augmented.png" alt="Augmented" id="logo" /></a>
      <div id="postcontainer"><br>
        <div class="title">Searching by tag #<%= tag %></div>
        <% con.query("SELECT * FROM posts WHERE is_op=1 AND tag='" + con.escape(tag) + "' ORDER BY post_id DESC;").each do |res| %>
          <span class="meta">Author: <%= Sanitize.clean(res["author"]) %>, tagged under: <a href="/tag/<%= res["tag"] %>">#<%= res["tag"] %></a></span><br>
          <a href="/article/<%= res["post_id"] %>"><%= Sanitize.clean(res["title"]) %></a><br><br>
        <% end %>
      </div>
    </div>
  </body>
</HTML>
