<!DOCTYPE HTML>
<HTML>
  <head>
    <title><%= Config.get["name"]%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>
  <body>
    <div id="bodycontainer">
      <img src="static/augmented.png" alt="Augmented" id="logo"/><br>
      <div id="postcontainer"><br>
        <% con.query("SELECT * FROM posts WHERE is_op=1 ORDER BY post_id DESC LIMIT 10 OFFSET #{offset.to_s};").each do |res| %>
          <span class="meta">Author: <%= Sanitize.clean(res["author"]) %>, tagged under: <%= tags_prepare_html(res["tag"]) %></span><br>
          <a href="/article/<%= res["post_id"] %>" class="post"><%= Sanitize.clean(res["title"]) %></a><br><br>
        <% end %>
        <% con.query("SELECT COUNT(*) AS count FROM posts WHERE is_op=1").each do |res| ((res["count"]/10)+1).times do |i| %>
          <a href="/?page=<%= i.to_s %>" style="font-size: x-small; display: inline-block;"><%= (i + 1).to_s %></a>
        <% end end %>
      </div>
      <a id="post" href="/author">Login</a>
    </div>
  </body>
</HTML>
