<!DOCTYPE HTML>
<html>
  <head>
    <title>Loading... - The Augmented Eye</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/augmented.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
  </head>
  <body>
    <div id="bodycontainer">
      <a href="/"><img src="/static/augmented.png" alt="Augmented" /></a>
      <div id="postcontainer">
        <% con.query("SELECT * FROM posts WHERE post_id=" + con.escape(id)).each do |res| %>
          <script>
            document.title =  "<%= Sanitize.clean(res["title"]) %> - The Augmented Eye";
          </script>
          <div id="articlecontainer">
            <div class="title"><%= Sanitize.clean(res["title"]) %></div>
            <div class="author">By <%= Sanitize.clean(res["author"]) %></div>
            <pre id="content"><%= Sanitize.clean(res["content"]) %></pre>
          </div>
          <div class="meta">This article was filed under <a href="/tag/<%= Sanitize.clean(res["tag"]) %>">#<%= Sanitize.clean(res["tag"]) %></a></div>
        <% end %>
      </div><br>
      <% con.query("SELECT * FROM posts WHERE parent=" + con.escape(id)).each do |res| %>
        <% if res["is_signed_author"] = 1 then additional = "color: #ED145B;" else additional = "" end %>
        <div id="author" class="label">Author: <span style="<%= additional %>"><%= Sanitize.clean(res["author"]) %></span>, Date: <%= res["date_posted"] %></div>
        <pre id="content" class="label">| <%= Sanitize.clean(res["content"]) %></pre>
      <% end %>
      <form action="/comment" method="POST">
        <% if session[:author] %>
          <input type="checkbox" name="signed" id="signed" />&nbsp;<span class="label">Signed?</span>
          <br>
        <% end %>
        <input type="input" name="author" value="" style="float: left;">&nbsp;<span class="label">Name</span><br><br><span class="label">Comment</span>
			  <textarea rows="5" cols="50" style="display: block; margin-right: 10px; width: 285px; height:100px;" name="body"></textarea>
			  <input type="submit" name="submit" value="Send" style="float: right;"><br>
        <input type='text' style='display: none' name='parent' id='parent' value='<%= id %>' />
      </form>
    </div>
  </body>
</html>
